@namespace DComponent
@if (ShowRowDetail)
{
    //第一列
    var expandName = Row.GetType().GetProperties().First().GetValue(Row)?.ToString();
    var expanded = TableState.GetDetailExpandRow(expandName);
    @if (expanded)
    {
        <tr>

            @if (ShowGroup && TableState.Columns.Any(p => p.Value.IsGroup))//分组
            {
                <td rowspan="1" colspan="1"></td>
            }
            @if (TableState.Columns.Any(p => p.Value.CType == ColumnType.O))
            {
                <td rowspan="1" colspan="1"></td>
            }
            @*//展开列*@
            <td rowspan="1" colspan="1"></td>
            <td rowspan="1" colspan="1"></td>
            @if (SelectMode == SelectMode.M)
            {
                <td rowspan="1" colspan="1">
                </td>
            }
            @*//明细*@
            <td colspan="@TableState.Columns.Where(p => p.Value.CType != ColumnType.O).Count()">
                @RowDetailContext
            </td>
        </tr>
    }
}


@code {
    [CascadingParameter]
    protected TableStateHandler TableState { get; set; }
    [Parameter]
    public RenderFragment RowDetailContext { get; set; }
    [Parameter]
    public object Row { get; set; }
    [Parameter]
    public bool ShowGroup { get; set; }
    [Parameter]
    public SelectMode SelectMode { get; set; }
    [Parameter]
    public bool ShowRowDetail { get; set; } = false;
}