@namespace DComponent
@if (ShowRowDetail)
{
    var expandName = Row.GetType().GetProperties().First().GetValue(Row)?.ToString();
    var expanded = TableState.GetDetailExpandRow(expandName);
    <td>
        <button class="btn btn-link" title="展开明细" @onclick="@(() =>TableState.UpdateDetailExpandRow(expandName,!expanded))">
            <i class="@TableState.DetailExpandRowDir(expandName)"></i>
        </button>
    </td>
}

@code {
    [CascadingParameter]
    protected TableStateHandler TableState { get; set; }
    [Parameter]
    public object Row { get; set; }
    [Parameter]
    public bool ShowRowDetail { get; set; } = false;
}
