@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="border border-info bg-white p-4" style="height:calc(100vh - 3.8rem);">
        @Body
    </div>
</div>
